* {
  font-family: Helvetica, Arial, sans-serif;
}

.page {
  background-color:#f9f9f9;
}

.block {
  background-color:#f9f1f1;
}

h1 {
  color: orange;
}


p, 
li {
  font-size: 18px;
}


a {
  text-decoration: none;
}

.center {
  text-align: center;
    width: 100%;
}